@media print {

  @page noheader {
      display: table;
      margin: 5px;
      sheet-size: 210mm 297mm;
  }
  .noheader {
      page: noheader;
      padding: 14px;
      font-family: kanit;
      font-size: 18px !important;
      line-height: 16px !important;
  }


  .text-left{
    text-align: left;
  }

  .text-center{
    text-align: center;
  }

  .font-8{
    font-size: 16px;
  }

  .font-9{
    font-size: 18px;
  }
  .font-10{
    font-size: 20px;
  }

  .text-right{
    text-align: right !important;
  }

  hr{
    border: 1px solid #000 !important;
  }

  .table-borders{
    border-top: 1px solid #000 !important;
    border-bottom: 1px solid #000 !important;
    height: 40px;
  }
  .table-bordered {
    border: 1px solid #000 !important;
  }


  table tr td{
    padding: 4px;
  }

  .barcode{
    display: block;
    text-align: center;
  }

  .head-copy{
    position: absolute;
    top: 5px;
    right: 5px;
    color: red;
    font-size: 20px;
    font-weight: bold;
  }
}

@media (max-width: 767px) {
  div.classShowMini {
    display:block !important;
  }
  div.classShow {
    display:none !important;
  }
}
@media (min-width: 768px) {
  div.classShowMini {
    display:none !important;
  }
  div.classShow {
    display:block !important;
  }
}

.labelS{
  line-height: 40px;
  text-align:right;
  margin-bottom: 0px;
}


.tableClass{
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #3a4342;
}
.tableClass thead tr
{
    height: 40px;
    background-color: #3a4342;
    color: #FFFFFF;
    font-weight: bold;
  }

.tableClass tbody tr
{
  height: 40px;
  background-color: #FFFFFF;
  color: #3a4342;
  font-weight: bold;
  border: 1px solid #3a4342;
}

.tableClass tbody tr td
{
  padding: 10px;
  line-height: 14px;
  background-color: #FFFFFF;
}
.tableClass tbody tr td:nth-child(1)
{
  border-right: 1px dotted #3a4342;
}

.icon-user{
    text-align: right;
    color: #b9b9b9;
    border-right: 1px solid #3a4342;
}
.count-p{
    font-size: 11px;
    color: #b9b9b9;
    position: absolute;
    bottom: 7px;
    right: 24px;
}
.icon-arrow{
    position: absolute;
    font-size: 33px;
    font-weight: bold;
    top: 6px;
    right: 10px;
    color: #606362;
}
